body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin: 5em;
    gap: 10px;
    background-color: black;
    width: fit-content;
    padding: 10px;
    justify-items: stretch;
}

.cube {
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}